[Unit]
Description=pcwaker - service for starting and stopping of computers using GPIO
After=network.target syslog.target

[Service]
Type=forking
User=pi
Group=pi
ExecStart=/buildbot-master/pcwaker.py daemon start
ExecStop =/buildbot-master/pcwaker.py daemon stop

[Install]
WantedBy=multi-user.target
